{% extends 'base.html' %}
 {% block body %}
 <div class="container my-5">
    <h5><strong>Welcome: </strong>{{username}}</h5>
    
    <ul class="list-group">
      {% for question in questions %}
      <li class="list-group-item">
      <h4>{{question}}</h3>
      <a href="{% url 'vote' question.id %}" <button class="btn btn-info mx-5">Vote</button></a>
      <a href="{% url 'result' question.id %}"> <button class="btn btn-info my-2 mx-5">Result</button></a>
      </li>
      {% endfor %}
    </ul>


    <a href="{% url 'addquestion' %}"><button class="btn btn-primary my-2">Add Poll Question</button></a>
 </div>
 {% endblock body %}