{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3 style="margin-bottom: 20px"><strong>Pick Your Choice</strong></h3>
    <h4>{{ poll.question }}</h4>
    <form action="" method="post">
        {% csrf_token %}
        <ul class="list-group" style="margin: 0px;">
        {% for option in poll.options %}
        <label>
            <li class="list-group-item">
                {% comment %} <input class="form-check-input" type="radio" name="poll" id="exampleRadios1" value="option1" > {% endcomment %}
                <input type="radio" class="form-check-input me-1" name="poll" value="option{{forloop.counter}}">
                {{option}}
            </li>
        </label>
        {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
    <div class='my-5'>
        <a href="/all_polls/"><button type="button" class="btn btn-primary">All Polls Questions</button></a>
    </div>
</div>
{% endblock body %}